
@{
    ViewBag.Title = "Ajax Demo";
    Layout = "_Layout";
}

<h3>Ajax!</h3>

<div>
    <input type="number" id="PersonIDInput" />
    <p></p>
    <input type="button" class="btn btn-primary" onclick="GetAllPeople()" value="All People"/>
    <input type="button" class="btn btn-primary" onclick="GetPersonById()" value="Person By ID"/>
    <input type="button" class="btn btn-danger" onclick="DeletePersonById()" value="Delete Person By ID"/>
</div>
<div id="ErrorMessages"></div>
<div id="AjaxContainer" class="container">
    
</div>
