@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2>About</h2>
<p>
    Thanks for visiting my MVC project.<br/>
    My name is Martynas and I enjoy to program!<br/>
    You can find more of my projects over at the projects tab above!<br/>
    Or alternatively you can contact me via the contact page to learn more.
</p>