@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
}

<h2>Projects</h2>
<ul>
    <li>
        <a href="https://github.com/arqtik/Sokoban">Sokoban game in Javascript</a>
        <p>A sokoban game created in Javascript, you can run it directly in your browser!</p>
    </li> 
    <li>
        <a href="https://github.com/arqtik/Hangman">Hangman in console</a>
        <p>Hangman game made in C# that is meant to be played directly in your console.</p>
    </li>
    <li>
        <a href="https://github.com/arqtik/Hangman">Console Calculator</a>
        <p>A simple calculator made for your console!</p>
    </li>
</ul>
