* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;    
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0 0 0 3rem;
    gap: 0.25rem;
}

.nav-list li {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: black;
    background-color: gray;
}

.nav-list ul {
    flex-direction: row;
}

.flex-container {
    flex-grow: 1;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #050505;
    color: #eeeeee;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
}

footer {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkgray;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #FFBF00;
}


table td, table th{
    border: 1px solid #8c8c8c;
    padding: 1rem;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-vertical input,
.flex-vertical select {
    padding: 0.25rem;
}

.rounded-box {
    border: 1px solid #8c8c8c;
    border-radius: 10px;
    padding: 3rem;
}

.primary-bg {
    background-color: #FFBF00;
}

.col-border {
    border: 1px solid #8c8c8c;
}

.col-padding{
    padding: 0.75rem;
}

.search-box {
    font-size: 1.5rem;
    margin-block: 2rem;
    text-align: center;
}

.btn-container {
    display: flex;
    gap: 0.25rem;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
}