@{
    ViewBag.Title = "Fever Check";
    Layout = "_Layout";
}

<h2>Check your fever here</h2>

<form asp-controller="Doctor" asp-action="FeverCheck" method="post">
    <label>Temperature:</label>
    <input type="number" min="" step="0.1" name="temperature" />
    <input type="submit" value="Check" />
</form>

@{
    if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
}
