<!DOCTYPE html>
<html>
<head>
    <title>React ASP MVC</title>
</head>
<body>
<div id="content" class="container"></div>

<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

<script type="module" src="@Url.Content("js/PeopleApp.jsx")"></script>

</body>
</html>